[submodule "LinkAttributionProto"]
	path = hicon-sm
	url = https://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@github.com/dovo-ift/LinkAttributionProto.git
	url = https://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@github.com/vothanhdo2602/hicon-sm.git
